.chat-list {
	padding: 0 .5rem;
	.chat-item {
		clear: both;
		overflow: auto;
		padding: .5rem 0;
		color: #333234;
		.chat-avatar {
			float: left;
			margin-top: 0.5rem;
			img {
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
			}
		}
		.chat-content {
			float: left;
			width: 12rem;
			padding-left: .5rem; 
			.chat-user {
				min-height: .5rem;
				.chat-user-name {
					font-size: .7rem;
					color: #333234;
				}
				.chat-user-title {
					font-size: .5rem;
					color: #9b9b9b;
					margin-left: .2rem;
				}
			}
			.chat-text-msg {
				float: left;
				max-width: 12rem;
				background-color: #fff;
				border-radius: .2rem;
				margin-top: .1rem;
				padding: .4rem .5rem;
				box-shadow: 0 1px 1px 0 #d9dadc;
				p {
					font-size: .7rem;
					margin: 0;
					word-break: break-all;
				}
			}
			.chat-audio-msg {
				overflow: auto;
				.audio-bar {
					float: left;
					background-color: #4a90e2;
					border-radius: .2rem;
					margin-top: .1rem;
					height: 1.7rem;
					width: 6rem;
					padding: .15rem .3rem;
					box-shadow: 0 1px 1px 0 #d9dadc;
				}
				.audio-time {
					float: left;
					font-size: .7rem;
					color: #333234;
					margin: .8rem 0 0 .3rem;
				}
			}
			.chat-material-msg {
				float: left;
				min-width: 11rem;
				max-width: 12rem;
				background-color: #fff;
				border-radius: .2rem;
				margin-top: .1rem;
				padding: 0 .5rem;
				box-shadow: 0 1px 1px 0 #d9dadc;
				color: #333234;
				.material-title {
					line-height: 2.2rem;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				.material-line {
					height: 1px;
					background-color: #d9dadc;
				}
				.material-author {
					font-size: .5rem;
					line-height: 2rem;
					i {
						float: right;
					}
				}
			}
		}
		&.me {
			.chat-avatar {
				float: right;
			}
			.chat-content {
				float: right;
				padding-left: 0;
				padding-right: .5rem;
				.chat-user {
					text-align: right;
				}
				.chat-text-msg {
					float: right;
				}
				.chat-audio-msg {
					.audio-bar {
						float: right;
						
					}
					.audio-time {
						float: right;
						margin: .8rem .3rem 0 0;
					}
				}
				.chat-material-msg {
					float: right;
				}
			}
		}
	}
}

.chat-footer {
	height: 2.4rem;
	color: #999;
	line-height: 2.4rem;
	font-size: .7rem;
	text-align: center;
	.icon-chat {
		margin-right: .3rem;
	}
	.chat-audio, .chat-text, .chat-material {
		&.active {
			color: #333234;
		}
	}
	&.chat-text-active {
		height: 4.8rem;
		.text-input-section {
			position: relative;
			display: block;
			background-color: #f6f6f6;
			margin: 0 -.5rem;
			height: 2.4rem;
			.searchbar {
				background-color: #f6f6f6;
				.search-input {
					input {
						height: 1.6rem;
						border: 1px solid #979797;
						border-radius: .2rem;
					}
				}
			}
			.button {
				top: 0;
				height: 1.6rem;
				line-height: 1.6rem;
				border-radius: .2rem;
				&.button-fill {
					background-color: #4a90e2;
				}
			}
			.row {
				.col-80 {
					margin-left: 3%;
					width: 77%;
				}
				.col-20 {
					width: 14%;
					margin-left: 3%;
					margin-right: 3%;
				}
			}
		}
	}
	&.chat-audio-active {
		height: 8rem;
		.audio-input-section {
			position: relative;
			display: block;
			background-color: #f6f6f6;
			margin: 0 -.5rem;
			height: 5.6rem;
			padding-top: .1rem;
			.record-tip {
				font-size: .5rem;
				line-height: 1.3rem;
				color: #9b9b9b;
				height: 1.3rem;
			}
			.record-btn {
				width: 2.3rem;
				height: 2.3rem;
				margin: 0 auto;
				background-color: #df4048;
				border-radius: 50%;
				padding: .3rem;
				box-shadow: 0 1px 1px 0 #d9dadc;
			 	user-select: none;
			 	line-height: 1.6rem;
			 	.icon-chat {
			 		margin-right: 0;
			 	}
			 	&.start {
			 		.icon-chat-send-l, 
			 		.icon-chat-pause-l {
			 			display: none;
			 		}
			 	}
			 	&.record {
			 		.icon-chat-pause-l {
			 			display: inline-block;
			 		}
			 		.icon-chat-send-l {
			 			display: none;
			 		}
			 	}
			 	&.send {
			 		.icon-chat-pause-l {
			 			display: none;
			 		}
			 		.icon-chat-send-l {
			 			display: inline-block;
			 		}
			 	}
			}
			.record-status {
				font-size: .5rem;
				line-height: 1.5rem;
				color: #9b9b9b;
				text-align: center;
			}
			.cancel-btn {
				display: none;
				position: absolute;
				top: .8rem;
				right: .8rem;
				width: 2.5rem;
				height: 1.5rem;
				background-color: #fff;
				box-shadow: 0 1px 1px 0 #d9dadc;
				border-radius: .2rem;
				font-size: .5rem;
				line-height: 1.5rem;
			}
			&.active {
				.record-btn {
					background-color: #4a90e2;
				}
				.record-status {
					color: #333234;
				}
				.cancel-btn {
					display: block;
				}
			}
		}
	}
	.text-input-section, .audio-input-section {
		display: none;
	}
}

.text-input-section:before, .audio-input-section:before {
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
	.text-input-section:before, .audio-input-section:before {
		-webkit-transform:scaleY(.33);
    	transform: scaleY(.33);
	}
	.chat-list .chat-item .chat-content .chat-material-msg .material-line {
		-webkit-transform:scaleY(.33);
    	transform: scaleY(.33);
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.text-input-section:before, .audio-input-section:before {
		-webkit-transform:scaleY(.5);
		transform: scaleY(.5);
	}
	.chat-list .chat-item .chat-content .chat-material-msg .material-line {
		-webkit-transform:scaleY(.5);
    	transform: scaleY(.5);
	}
}

.chat-footer ~ .content {
	bottom: 2.4rem;
}

.chat-footer.chat-text-active ~ .content {
	bottom: 4.8rem;
}

.chat-footer.chat-audio-active ~ .content {
	bottom: 8rem;
}

.material-list {
	.list-block {
		margin: .75rem 0;
		.list-group {
			.list-title {
				font-size: .6rem;
				color: #9B9B9B;
				.item-content {
					min-height: 1.1rem;
					.item-inner {
						min-height: 1.1rem;
						padding-top: .4rem;
						padding-bottom: .35rem;
					}
				}
			}
			.item-content {
				.item-inner {
					padding-top: .75rem;
					padding-bottom: .7rem;
				}
				.item-after {
					font-size: .6rem;
					color: #9B9B9B;
				}
			}
		}
	}
}

.student-list {
	.list-block {
		margin: .75rem 0;
		.item-content {
			.item-media {
				img {
					width: 1.8rem;
					height: 1.8rem;
					border-radius: 50%;
				}
			}
			.item-inner {
				.item-after {
					font-size: .6rem;
					display: inline-block;
					padding: .1rem .6rem;
					border-radius: .5rem;
					&.replied {
						color: #000;
						background-color: #d9dadc;
					}
					&.waiting {
						color: #fff;
						background-color: #4a90e2;
					}
					&.closed {
						
					}
				}
			}
		}
	}
}

.student-nav {
	.button-nav.pull-right.show-option {
		font-size: .6rem;
		color: #4a90e2;
		margin-right: .7rem;
	}
}